


<div class="form-group">
    <div class="form-group">
        <label for="url">URL :</label>
        <input id="url" name="url" type="url" class="form-control" placeholder="http://">
    </div>

    <button id="btnGetIt" type="button" class="btn btn-primary">Get it !</button>
</div>

<div id="result" class="invisible">
    <table class="table table-sm table-hover">
        <thead>
            <tr>
                <th scope="col">Dansk</th>
                <th scope="col">English</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>

